{% extends '_layout.html' %}{% block content %}
<div id="edit-details-container">
  <h1>
    Edit User Details
  </h1>
  <div id="profile-image-container">
    <img
      id="profile-image"
      src="{{current_user.profile_picture}}"
    />
    <form
      id="profile-image-form-container"
      method="POST"
      enctype="multipart/form-data"
      action="{{url_for('users.update_picture', id_=id_)}}"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <input type="file" name="user_file" />
      <button
        id="profile-image-button"
        type="submit"
        class="btn btn-primary margin-top"
        id="edit-submit-button"
      >
        Submit
      </button>
    </form>
  </div>
  <br />
  <form
    action="{{ url_for('users.update',id_=current_user.id) }}"
    method="POST"
  >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div id="edit-username-container" class="margin-top">
      <h5>Username:</h5>
      <input
        name="current-username"
        type="text"
        class="form-control"
        value="{{ current_user.username }}"
      />
    </div>
    <div id="edit-email-container" class="margin-top">
      <h5>Email:</h5>
      <input
        name="current-email"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        value="{{ current_user.email }}"
      />
    </div>
    <div id="edit-password-container" class="margin-top">
      <h5>Confirm Password:</h5>
      <input
        name="current-password"
        type="password"
        class="form-control"
        placeholder="Enter current password to confirm changes..."
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary margin-top"
      id="edit-submit-button"
    >
      Submit
    </button>
  </form>
</div>

{% endblock %}
