{% extends '_layout.html' %}{% block content %}
<div id="error-404-container">
  <h1>Error: 404</h1>
  <img id='error-404-image'
    src="https://res.cloudinary.com/teepublic/image/private/s--SNtyVBe0--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_36538b,e_outline:48/co_36538b,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1563153920/production/designs/5316045_0.jpg"
    alt="500-error-meme"
  />
</div>
{% endblock %}
